# Segmentation Toronto Zipcode Data Cleaning
## Tongjie

In [1]:
import pandas as pd
import numpy as np

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df=pd.read_html(url)[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [3]:
df=df[df['Borough']!='Not assigned']
df['Neighbourhood'] = np.where(df['Neighbourhood']!='Not assigned',df['Neighbourhood'], df['Borough'])

# Method from https://stackoverflow.com/questions/31511997/pandas-dataframe-replace-all-values-in-a-column-based-on-condition

---
Here I used pandas to read html and the first table it gets is the table we want. Then cleaned the data by using the index.

Assumed there is non NaN or null type data.

In [4]:
df.shape

(210, 3)

In [5]:
df_geo=pd.read_csv('https://cocl.us/Geospatial_data')

In [6]:
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Merge and drop duplicate columns

In [7]:
df_merged=df.merge(df_geo, left_on='Postcode', right_on='Postal Code', right_index=False).drop('Postal Code', axis=1)

In [8]:
df_merged.head()

  Postcode           Borough     Neighbourhood   Latitude  Longitude
0      M3A        North York         Parkwoods  43.753259 -79.329656
1      M4A        North York  Victoria Village  43.725882 -79.315572
2      M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3      M6A        North York  Lawrence Heights  43.718518 -79.464763
4      M6A        North York    Lawrence Manor  43.718518 -79.464763