# Segmentation Toronto Zipcode Data Cleaning
## Tongjie

In [1]:
import pandas as pd
import numpy as np

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df=pd.read_html(url)[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [3]:
df=df[df['Borough']!='Not assigned']
df['Neighbourhood'] = np.where(df['Neighbourhood']!='Not assigned',df['Neighbourhood'], df['Borough'])

# Method from https://stackoverflow.com/questions/31511997/pandas-dataframe-replace-all-values-in-a-column-based-on-condition

---
Here I used pandas to read html and the first table it gets is the table we want. Then cleaned the data by using the index.

Assumed there is non NaN or null type data.

In [4]:
df.shape

(210, 3)